snippet import "import a package"
	import ${1:name} from '${2:name}'

snippet get "define a svelte GET endpoint"
	export async function get() {
		${1}
	}

snippet post "define a svelte POST endpoint"
	export async function post() {
		${1}
	}
