"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[[mgr.prepend_keymap]]
on = ["f", "r"]
run = "plugin fr rg"
desc = "Search file by content (rg)"

[[mgr.prepend_keymap]]
on = ["f"]
run = "plugin jump-to-char"
desc = "Jump to char"

[[mgr.prepend_keymap]]
on = ["e"]
run = "shell --block --confirm \"nvim $@\""
desc = "Open in Neovim"

[[mgr.prepend_keymap]]
on = ["O"]
run = "shell \"open -a Finder ./\""
desc = "Open in Finder"

[[mgr.prepend_keymap]]
on = ["!"]
run = "shell \"$SHELL\" --block"
desc = "Open shell here"

[[mgr.prepend_keymap]]
on = "<C-p>"
run = 'shell -- qlmanage -p "$@"'
desc = "Quick Look"

[[mgr.prepend_keymap]]
on = ["c", "a"]
run = "plugin compress"
desc = "Archive selected files"

# [[mgr.prepend_keymap]]
# on = "<C-u>"
# run = "seek -5"
# desc = "Seek up 5 units in the preview"
#
# [[mgr.prepend_keymap]]
# on = "<C-d>"
# run = "seek 5"
# desc = "Seek down 5 units in the preview"

[[mgr.prepend_keymap]]
on = "<C-u>"
run = "arrow -10"
desc = "Move cursor up 10 lines"

[[mgr.prepend_keymap]]
on = "<C-d>"
run = "arrow 10"
desc = "Move cursor down 10 lines"

[[mgr.prepend_keymap]]
on = "<C-f>"
run = "arrow 50%"
desc = "Move cursor down half page"

[[mgr.prepend_keymap]]
on = "<C-b>"
run = "arrow -50%"
desc = "Move cursor up half page"

[[mgr.prepend_keymap]]
on = "J"
run = "arrow 50%"
desc = "Move cursor down half page"

[[mgr.prepend_keymap]]
on = "<A-k>"
run = "arrow -5"
desc = "Move cursor up half page"

[[mgr.prepend_keymap]]
on = "<A-j>"
run = "arrow 5"
desc = "Move cursor down half page"

# [[mgr.prepend_keymap]]
# on = "<A-B>"
# run = "shell --confirm --block -- for path in \"$@\"; do mv -n \"$path\" /Users/aaron/Code/bak_files/; done"
# desc = "Move to bak folder"

[[mgr.prepend_keymap]]
on = "<A-b>"
run = "shell --confirm --block -- for path in \"$@\"; do cp -n \"$path\" \"$path.bak\"; done"
desc = "Copy to .bak in same folder"

[[mgr.prepend_keymap]]
on = ["f", "r"]
run = "plugin fr"
desc = "find file by content (fuzzy match)"

[[mgr.prepend_keymap]]
on = ["f", "f"]
run = "filter --smart"
desc = "Filter files"

[[mgr.prepend_keymap]]
on = ["f", "F"]
run = "plugin smart-filter"
desc = "Smart filter"

[[mgr.prepend_keymap]]
on = ["s"]
run = "plugin searchjump --autocd"
desc = "Flash"

[[mgr.prepend_keymap]]
on = "S"
run = "search --via=fd"
desc = "Search files by name using fd"

[[mgr.prepend_keymap]]
on = ["<C-y>"]
run = "shell -- for path in \"$@\"; do echo \"file://$path\"; done | pbcopy"
desc = "Copy to clipboard"

[[mgr.prepend_keymap]]
on = "A"
run = "create --dir"
desc = "Create a dir"

# [[mgr.prepend_keymap]]
# on = "H"
# desc = "Switch to the previous tab"
# run = "tab_switch -1 --relative"
#
# [[mgr.prepend_keymap]]
# on = "L"
# run = "tab_switch 1 --relative"
# desc = "Switch to the next tab"

[[mgr.prepend_keymap]]
on = "H"
run = "back"
desc = "Go back to the previous directory"

[[mgr.prepend_keymap]]
on = "L"
run = "forward"
desc = "Go forward to the next directory"

[[mgr.prepend_keymap]]
on = "<"
run = "tab_swap -1"
desc = "Swap current tab with previous tab"

[[mgr.prepend_keymap]]
on = "T"
run = "plugin smart-tab"
desc = "Create a tab and enter the hovered directory"

[[mgr.prepend_keymap]]
on = ">"
run = "tab_swap 1"
desc = "Swap current tab with next tab"

[[mgr.prepend_keymap]]
on = "P"
run = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"


[[mgr.prepend_keymap]]
on = "<C-x>"
run = "plugin toggle-pane max-current"
desc = "Maximize the current paane"

[[mgr.prepend_keymap]]
on = "<C-t>"
run = "plugin toggle-pane max-preview"
desc = "Maximize or restore the preview pane"

[[mgr.prepend_keymap]]
on = "l"
run = "plugin smart-enter"
desc = "Enter the child directory, or open the file"

[[mgr.prepend_keymap]]
on = "<A-p>"
run = "plugin smart-paste"
desc = "Paste into the hovered directory or CWD"

[[mgr.append_keymap]]
on = ["e"]
run = "open"
desc = "Open the selected files"

[[mgr.append_keymap]]
on = ["E"]
run = "open --interactive"
desc = "Open the selected files interactively"

[[mgr.prepend_keymap]]
on = ["g", "r"]
run = "shell -- ya emit cd \"$(git rev-parse --show-toplevel)\""
desc = "Root of Git Repo"

[[mgr.append_keymap]]
on = ["g", "C"]
run = "cd ~/Code"
desc = "Go to Code directory"

[[mgr.append_keymap]]
on = ["g", "o"]
run = "cd ~/Vaults/PersonalBrain"
desc = "Go to Obsidian Vault directory"

[[mgr.append_keymap]]
on = ["g", "n", "p"]
run = "cd ~/.local/share/nvim/lazy"
desc = "Go to nvim plugins directory"

[[mgr.append_keymap]]
on = ["g", ".", "n", "a"]
run = "cd ~/.config/astronvim"
desc = "Go to astronvim directory"

[[mgr.append_keymap]]
on = ["g", ".", "n"]
run = "cd ~/.config/nvim"
desc = "Go to nvim directory"

[[mgr.append_keymap]]
on = ["g", ".", "h"]
run = "cd ~/.config/helix"
desc = "Go to helix directory"

[[mgr.append_keymap]]
on = ["g", ".", "f"]
run = "cd ~/.config/fish"
desc = "Go to fish directory"

[[mgr.append_keymap]]
on = ["g", ".", "k"]
run = "cd ~/.config/kitty"
desc = "Go to kitty directory"

[[mgr.append_keymap]]
on = ["g", ".", "a"]
run = "cd ~/.config/alacritty"
desc = "Go to alacritty directory"

[[mgr.append_keymap]]
on = ["g", ".", "y"]
run = "cd ~/.config/yazi"
desc = "Go to yazi directory"

[[mgr.append_keymap]]
on = ["g", ".", "g"]
run = "cd ~/.config/ghostty"
desc = "Go to ghostty directory"

[[mgr.append_keymap]]
on = ["g", "b"]
run = "cd ~/.local/bin"
desc = "Go to local bin directory"

[[mgr.append_keymap]]
on = ["g", "I", "h"]
run = "cd '/Users/aaron/Library/Mobile Documents/'"
desc = "Go to iCloud Drive directory"

[[mgr.append_keymap]]
on = ["g", "I", "b"]
run = "cd '/Users/aaron/Library/Mobile Documents/com~apple~CloudDocs/Books'"
desc = "Go to iCloud Books directory"

[[mgr.append_keymap]]
on = ["g", "i", "m"]
run = "cd ~/Code/dotfiles/Matt-FTW-dotfiles/.config/"
desc = "Go to Matt-FTW directory"

[[input.prepend_keymap]]
on = ["<Esc>"]
run = "close"
desc = "Cancel input"

[[cmp.prepend_keymap]]
on = "<C-k>"
run = "arrow -1"
desc = "Move cursor up"

[[cmp.prepend_keymap]]
on = "<C-j>"
run = "arrow 1"
desc = "Move cursor down"

[[manager.prepend_keymap]]
on = ["u", "a"]
run = "plugin yamb save"
desc = "Add bookmark"

[[manager.prepend_keymap]]
on = ["u", "g"]
run = "plugin yamb jump_by_key"
desc = "Jump bookmark by key"

[[manager.prepend_keymap]]
on = ["u", "G"]
run = "plugin yamb jump_by_fzf"
desc = "Jump bookmark by fzf"

[[manager.prepend_keymap]]
on = ["u", "d"]
run = "plugin yamb delete_by_key"
desc = "Delete bookmark by key"

[[manager.prepend_keymap]]
on = ["u", "D"]
run = "plugin yamb delete_by_fzf"
desc = "Delete bookmark by fzf"

[[manager.prepend_keymap]]
on = ["u", "A"]
run = "plugin yamb delete_all"
desc = "Delete all bookmarks"

[[manager.prepend_keymap]]
on = ["u", "r"]
run = "plugin yamb rename_by_key"
desc = "Rename bookmark by key"

[[manager.prepend_keymap]]
on = ["u", "R"]
run = "plugin yamb rename_by_fzf"
desc = "Rename bookmark by fzf"

[[manager.prepend_keymap]]
on = ["c", "m"]
run = "plugin chmod"
desc = "Chmod on selected files"
