"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 4, 3]
sort_by = "natural"
sort_dir_first = true
show_hidden = true
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900
cache_dir = ""

[[opener.bulk-rename]]
run = 'hx "$@"'
block = true

[[open.prepend_rules]]
name = "bulk-rename.txt"
use = "bulk-rename"

[opener]
folder = [
  # { run = 'hyprctl dispatch run "[float; size 60% 60%; center 1] open" "$@"', desc = "Open in GUI File Manager" },
  { run = "open --background --new-window $1", desc = "Open in GUI File Manager" },
  { run = '''fish -c "nvim "$1""''', block = true, desc = "neovim", for = "macos" },
  { run = 'kitty --detach nvim "$@"', orphan = true, desc = "neovim (detached)", for = "macos" },
  { run = '''fish -c "hx "$1""''', block = true, desc = "helix", for = "macos" },
  { run = '''fish -c "lazygit -p "$1""''', block = true, desc = "lazygit", for = "macos" },
  { run = 'cursor  "$@"', orphan = true, desc = "cursor", for = "macos" },
  { run = 'kitty "$@"', orphan = true, desc = "kitty", for = "macos" },
  { run = 'kitten @ launch --type=tab --cwd="$@"', orphan = true, desc = "kitty (new tab)", for = "macos" },
  { run = 'kitten @ launch --type=window --cwd="$@"', orphan = true, desc = "kitty (new window)", for = "macos" },
  { run = 'open "$@"', orphan = true, desc = "open", for = "macos" },
]
text = [
  { run = '$EDITOR "$@"', block = true, desc = "$EDITOR", for = "macos" },
  { run = 'nvim "$@"', block = true, desc = "neovim", for = "macos" },
  { run = 'kitty --detach nvim "$@"', block = true, desc = "neovim (detached)", for = "macos" },
  { run = 'cursor  "$@"', orphan = true, desc = "cursor", for = "macos" },
  { run = 'open "$@"', orphan = true, desc = "open", for = "macos" },
]
edit = [
  # Default:
  # { run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },

  # Helix
  # { run = 'helix "$@"', block = true, for = "unix" },
  # { run = 'helix %*', block = true, for = "windows" },
]
document = [
  { run = 'open "$@"', orphan = true, desc = "open", for = "macos" },
  # { run = 'zathura "$@"', orphan = true, desc = "zathura", for = "macos" },
  # { run = 'libreoffice "$@"', orphan = true, desc = "libreoffice", for = "macos" },
]
# image = [
#   { run = 'open "$@"', desc = "Open" },
#   { run = '''exiftool "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show EXIF" },
# ]
# video = [
#   { run = 'open "$@"' },
#   { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
# ]
# audio = [
#   { run = 'open "$@"' },
#   { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
# ]
fallback = [
  { run = 'open "$@"', desc = "Open" },
  { run = 'open -R "$@"', desc = "Reveal in Finder" },
]

[open]
rules = [

  # Default: { mime = "text/*", run = "code" },
  { mime = "text/docx", use = "docx" },
  # Default for {video/audio}: use = ["play", "reveal"]
  { mime = "video/*", use = "video" },
  { mime = "audio/*", use = "audio" },
  { mime = "inode/x-empty", use = "text" },
  # Default:
  # { mime = "inode/empty", use = [ "edit", "reveal" ] },

  # Default: use = "code"
  # { mime = "text/*", use = "text" },
  # { mime = "application/json", use = "text" },
  # { mime = "*/javascript", use = "text" },

  # Default:
  # { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
  { mime = "application/x-{zip,bzip*,tar,7z*,rar,gzip}", use = [
    "extract",
    "reveal",
  ] },

  # Default: run = "file"
  # { mime = "*", use = "text" },
]

[plugin]
prepend_previewers = [
  # Archive previewer
  { mime = "application/*zip", run = "ouch" },
  { mime = "application/x-tar", run = "ouch" },
  { mime = "application/x-bzip2", run = "ouch" },
  { mime = "application/x-7z-compressed", run = "ouch" },
  { mime = "application/x-rar", run = "ouch" },
  { mime = "application/vnd.rar", run = "ouch" },
  { mime = "application/x-xz", run = "ouch" },
  { mime = "application/xz", run = "ouch" },
  { mime = "application/x-zstd", run = "ouch" },
  { mime = "application/zstd", run = "ouch" },
  { mime = "application/java-archive", run = "ouch" },
]

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
