; Integration between karabiner and hammerspoon

; https://github.com/alex35mil/dotfiles/blob/98c4539994572df10c4b941b04d43a14c6024ccc/home/.config/karabiner.edn

; Layers (for <65% keyboards)
; https://gist.github.com/gsinclair/f4ab34da53034374eb6164698a0a8ace

; Examples
; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/examples.org
; https://github.com/einverne/dotfiles/blob/29321884baf1063600c41ef8738bc74d42484c8c/karabiner/karabiner.edn#L895

; Github search
; https://github.com/search?q=path%3A**%2Fkarabiner.edn+spacebar&type=code

; TODO: migrate to karabiner.ts - https://github.com/nikitavoloboev/config-test/blob/e57b47f3a63de602ce2425a0468c5d77698fcb68/karabiner/karabiner.ts#L192

 {:profiles {:Default {:default true
                       :sim     50     ;; simultaneous_threshold_milliseconds (def: 50)
                        ;; if keydown event for two different keys are pressed within :sim ms, the keypresses are considered simultaneous
                       :delay   500    ;; to_delayed_action_delay_milliseconds (def: 500)
                        ;; after :delay ms, the key press is considered to be delayed (used for double-press macros)
                       :alone   499    ;; to_if_alone_timeout_milliseconds (def: 1000)
                        ;; if keyup event comes within :alone ms from keydown, the key is not just pressed but held
                       :held    500}}   ;; to_if_held_down_threshold_milliseconds (def: 500)
                        ;; key is fired twice when :held ms is elapsed (otherwise seen as a hold command)

  ;; Default value is 250
  :simlayer-threshold 250 ;; 500
  :devices {:mode65 [{:vendor_id 222 :product_id 22356}]
            :aula75 [{:vendor_id  "00x2817" :product_id "0x2817"}]}
  :applications {:terminals ["^net\\.kovidgoyal\\.kitty$"
                             "^org\\.alacritty$"
                             "^com\\.mitchellh\\.ghostty$"
                             "^com\\.neovide\\.neovide$"
                             ".*neovide.*"]
                 :kitty ["^net\\.kovidgoyal\\.kitty$"]
                 :neovide ["^com\\.neovide\\.neovide$"]
                 :vscode ["^com\\.microsoft\\.VSCode$"]
                 :claude ["^com\\.anthropic\\.claudefordesktop$"]
                 :chrome ["^com\\.google\\.Chrome$"]
                 :zenBrowser ["^app\\.zen-browser\\.zen$"]
                 :raycast ["^com\\.raycast\\.macos$"]
                 :screenContinuity ["^com\\.apple\\.ScreenContinuity$"]
                 :systemPreferences ["^com\\.apple\\.systempreferences$"]
                 :spotify ["^com\\.spotify\\.client$"]
                 :fontbook ["^com\\.apple\\.FontBook$"]
                 :scrypted ["^com\\.electron\\.scrypted$"]}

  :templates  {:launch "osascript -e 'tell application \"%s\" to activate'"
               :open "open \"%s\""
               :hs "hs -A -n -q -t 0.1 -c \"%s\""
               :show "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'\n"
               :toggle "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else if frontmost of process appName then\n    set visible of process appName to false\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'"
               :toggleMinimize "osascript -e 'set appName to \"%s\"\nset startIt to false\ntell application \"System Events\"\n  if not (exists process appName) then\n    set startIt to true\n  else if frontmost of process appName then\n    set miniaturized of every window to true\n  else\n    set frontmost of process appName to true\n  end if\nend tell\nif startIt then\n  tell application appName to activate\nend if'"
               :type "osascript -e 'tell application \"System Events\" to keystroke \"%s\" as text'"
               :raycast "open -g \"raycast://extensions/%s\""
               :raycastDeeplink "open -g \"raycast://%s\""
               :hsl
               "/opt/homebrew/bin/hs -A -n -q -t 0.01 -c 'hs.application.launchOrFocus(\"%s\")'"
               :kitten               "/Applications/kitty.app/Contents/MacOS/kitten @ --to unix:/tmp/tkitty %s"
               :kitten-splits-layout "/Applications/kitty.app/Contents/MacOS/kitten @ --to unix:/tmp/tkitty goto-layout --match=state:active splits && /Applications/kitty.app/Contents/MacOS/kitten @ --to unix:/tmp/tkitty %s"
               :kitten-focus-window  "/Applications/kitty.app/Contents/MacOS/kitten @ --to unix:/tmp/tkitty focus-window --match %s"
               :1pass "/usr/local/bin/op item get '%s' --fields '%s' | xargs echo -n | pbcopy ; pbpaste"}

  ;; ------------ Cheatsheet ------------
  ;; ! stand for mandatory
  ;; # stand for optional
  ;; !! stand for mandatory command + control + option + shift (hyper)
  ;; T O C S for left control option command shift
  ;; Q W E R for right command control option shift
  ;; F for fn
  ;; need to prefix C T O S F Q W E R with ! or #
  ;; !  | means mandatory -   (s) alone when pressend change behavior
  ;; #  | means optional  -   modifiers are optional (but atleast one necessary)
  ;; examples:
  ;; :!Ca is keycode :a and prefix a with !C

  ;; C  | left_command
  ;; T  | left_control
  ;; O  | left_option
  ;; S  | left_shift
  ;; F  | fn
  ;; Q  | right_command
  ;; W  | right_control
  ;; E  | right_option
  ;; R  | right_shift

  ;; ## | optional any
  ;; !! | command + control + optional + shift (hyper)
  :cheatsheet ;; ignored by code
  {:!Ca        "command a"
   :!Ta        "control a"
   :!Oa        "option a"
   :!Sa        "shift a"
   :#Sa        "shift a"
   :!CTOa      "command control option a"
   :!Cspacebar "command space"
   :!Fa        "fn a"
   :##a        "keycode a optional any"
   :!!a        "hyper (control command option shift) a "}

  ; :layers {:hyper-mode {:key :f17 :alone {:key :escape}}}

  ;; simlayers are basically "hyper" keys
  ;; recommended for non-typing keys like `.` or tab or space
  ;; or keys like z which are used less often
  :simlayers {; :spacebar-mode {:key :spacebar}
              :w-mode {:key :w}
              :f-mode {:key :f}
              :o-mode {:key :o :condi :!terminals}}

  :main [;; Device-specific modifications
         {:des "Device-specific modifications for Mode65"
          :rules [:mode65
                  [:right_control :right_command]
                  [:!Sescape :!Sgrave_accent_and_tilde]
                  [:!Tescape :grave_accent_and_tilde]
                  [:!Oescape :grave_accent_and_tilde]]}

         ; {:des "s-mode for punctuation"   ;;    ' " `    , . &    ; : ~
         ;  :rules [:s-mode
         ;        [:##u :quote]
         ;        [:##i :!Squote]
         ;        [:##o :grave_accent_and_tilde]
         ;        [:##j :comma]
         ;        [:##k :period]
         ;        [:##l :!S7]
 ;        [:##m :semicolon]
         ;        [:##comma :!Ssemicolon]
         ;        [:##period :!Sgrave_accent_and_tilde]]}

         {:des "w-key (windows)"
          :rules [:w-mode
                  [:c [:raycastDeeplink
                       "customWindowManagementCommand?&name=Center%2060/80&position=center&relativeWidth=0.6&relativeHeight=0.8"]]
                  [:!Sc [:raycastDeeplink "window-management/center"]]]}

         {:des "o-key (obsidian)"
          :rules [:o-mode
                   ;; Create clipping
                  [:c [:raycastDeeplink "extensions/trevware/obs-clippings/index"]]
                  ; Raycast daily note modal
                  [:d [:f20]]]}
         {:des "f-key (essentials)"
          :rules [:f-mode
                  [:m [:1pass "g36upszrpi7eikkbd3d4dut5fy" "password"]]
                  [:o [:1pass "ma6z5dv4utbbg4t3permrgtaya" "password"]]
                  [:a [:hs "hs.alert.show('lol')"]]
                  [:b :!Sb]]}

         ;; Change caps_lock key to command+control+option+shift. (Use shift+caps_lock as caps_lock)
         ; {:des "Change caps_lock key to command+control+option+shift. (Use shift+caps_lock as caps_lock)"
         ;  :rules [; [:!Scaps_lock :caps_lock] ; gets pressed too often
         ;          [:##caps_lock :!CTOleft_shift :!terminals {:alone [:escape]}]]}

         ;; Change caps_lock to control if pressed with other keys, to escape if pressed alone.
         ; {:des "Change caps_lock to control if pressed with other keys, to escape if pressed alone."
         ;  :rules [[]] ;; Disabled rule
         ;  :enabled false}
         ;; CapsLock to Esc when press & to Control when hold

         ; {:des "CapsLock to Esc when press & to Control when hold"
         ;  :rules [[:##caps_lock :right_control nil {:to_if_alone :escape :condi :terminals}]]}

         ; {:des "CapsLock to Esc when press & to Control when hold"
         ;  :rules [[:##caps_lock :right_control nil {:to_if_alone :escape :condi [:terminals]}]
         ;          [:##caps_lock :right_gui nil {:to_if_alone :escape}]]}

         {:des "Right option as hyper in terminals (f17 when used alone)"
          :rules [:mode65
                   ; [:right_option :!CTOleft_shift nil {:alone [:f17]}]
                  [:right_option :!CTOleft_shift  nil {:alone :escape}]]}

; {:des "Caps Lock in Terminals"
         ;  :rules [[:##caps_lock :right_control :terminals
         ;           {:to_if_alone :escape}]]}

         {:des "Caps Lock as Hyper outside of Terminals"
          :rules [; [:##caps_lock [:!CTOleft_shift ["hyper-mode" 2]] nil {:to_if_alone :escape}]]}
                  [:##caps_lock :!CTOleft_shift nil {:alone :escape}]]}

         {:des "Hyper apps"
          :rules [[:!!k [:open "/Applications/Kitty.app"]]
                  [:!!z [:open "/Applications/Zen.app"]]
                  [:!!c [:open "/Applications/Firefox Nightly.app"]]
                  [:!!f [:open "/Applications/Finder.app"]]
                  [:!!o [:open "/Applications/Obsidian.app"]]
                  ; !![:1 [:toggle "/Applications/1Password.app"]]
                  [:!!e [:toggle "org.pqrs.Karabiner-EventViewer"]]
                  [:!!s [:open "/Applications/Scrypted.app"]]
                  [:!!spacebar [:spacebar ["capspace" 1]] nil
                   {:alone :spacebar
                    :afterup ["capspace" 0]}]
                  :capspace
                  [:z [:open "/Applications/Zen.app"]]]}
                  ]}

         {:des "Hyper Mode - App Launcher and Navigation"
          :rules [:hyper-mode
                  [:k [:open "/Applications/Kitty.app"]]
                  [:z [:open "/Applications/Zen.app"]]
                  [:c [:open "/Applications/Firefox Nightly.app"]]
                  [:f [:open "/Applications/Finder.app"]]
                  [:a [:toggle "Dash"]]
                  [:d [:open "Discord"]]
                  [:!Oj {:mkey {:y 1536}}]
                  [:!Ok {:mkey {:y -1536}}]
                  [:!Oh {:mkey {:x -1536}}]
                  [:!Ol {:mkey {:x 1536}}]
                  [:!Oreturn_or_enter {:pkey :button1}]
                  [:!Obackslash [{:pkey :button2}]]
                  [:o [:open "/Applications/Obsidian.app"]]
                  [:1 [:toggle "/Applications/1Password.app"]]
                  [:e [:toggle "org.pqrs.Karabiner-EventViewer"]]
                  [:spacebar [:spacebar ["capspace" 1]] nil
                   {:alone :spacebar
                    :afterup ["capspace" 0]}]
                  :capspace
                  [:z [:open "/Applications/Zen.app"]]]}

         {:des "Disable cmd+q"
          :rules [[:!C##q [:!Cq ["command-q" 0]] ["command-q" 1]]
                  [:!C##q ["command-q" 1] nil
                   {:delayed
                    {:invoked ["command-q" 0]
                     :canceled ["commandq" 0]}}]]}

         ; {:des "left_command alone -> ⌘ + tab to last app"
         ;  :rules [[:left_command :left_command nil {:alone :!Ctab}]]}

         {:des "Quit application by command + Q only when pressing twice"
          :rules [[:!Cq
                   [:!Cq ["command-q" 0]]
                   ["command-q" 1]]
                  [:!Cq
                   ["command-q" 1]
                   nil
                   {:delayed
                    {:invoked ["command-q" 0]
                     :canceled ["command-q" 0]}}]]}

         {:des "Quit certain applications by pressing command-q twice"
          :rules [[:!C##q ["command-q" 1] nil
                   {:delayed
                    {:invoked ["command-q" 0]
                     :canceled ["commandq" 0]}}]]}

         {:des "simultaneous j l press to F18" :rules [[[:j :l] :f18]]}

         {:des   "Press right_shift twice to enter double shift mode, press right_shift once to leave it"
          :rules [[:right_shift ["double-right-shift-mode" 1] ["shift-pressed-once" 1]]
                  [:right_shift [:right_shift ["shift-pressed-once" 1]] ["double-right-shift-mode" 0]
                   {:delayed
                    {:invoked ["shift-pressed-once" 0]
                     :canceled ["shift-pressed-once" 0]}}]
                  :double-right-shift-mode
                  [:right_shift ["double-right-shift-mode" 0]]
                  [:x "say 'know we are in double shift mode'"]
                  [[:a :d] :f17]
                  [[:a :s] :f16]
                  [[:a :z] :f19]]}]}

         ; {:des "Application launcher"
         ;  :rules [ ; enter launch_layer with spacebar
         ;          [:spacebar ["launch_layer" 1] [:hyper-mode]
         ;           {:delayed {:invoked ["launch_layer" 0]}
         ;            :params  {:delay 800}}]
         ;          :launch_layer
         ;          [:a   [[:open "Activity Monitor"] ["launch_layer" 0]]]]}]}
         ;
         ; ; {:des   "launch mode"
         ;  :rules [[:spacebar ["launch-mode" 1]]
         ;          :launch-mode
         ;          [:k [:open "/Applications/Kitty"]]
         ;          [:c [:open "/Applications/Google Chrome.app"]]
         ;          [:v [:open "/Applications/Visual Studio Code.app"]]
         ;          [:o [:open "/Applications/Obsidian.app"]]
         ;          [:1 [:open "/Applications/1Password.app"]]
         ;          [:spacebar ["launch-mode" 0]]]}]}

          ; {:des "Function keys"
          ; :rules [[[:f :1] :f1]
          ;         [[:f :2] :f2]
          ;         [[:f :3] :f3]
          ;         [[:f :4] :f4]
          ;         [[:f :5] :f5]
          ;         [[:f :6] :f6]
          ;         [[:f :7] :f7]
          ;         [[:f :8] :f8]
          ;         [[:f :9] :f9]
          ;         [[:f :0] :f10]
          ;         [[:f :hyphen] :f11]
          ;         [[:f :equal_sign] :f12]
          ;         ]}]}

