
[env]
TERM = "xterm-256color"

[colors]
draw_bold_text_with_bright_colors = true
transparent_background_colors = false

[cursor]
# style = { shape = "Block", blinking = "On" }
style = { shape = "Beam", blinking = "On" }
unfocused_hollow = true
# vi_mode_cursor = { text = "#222436", cursor = "#c8d3f5" }
# vi_mode_cursor = { text = "CellForeground", cursor = "CellBackground" }
vi_mode_style = { shape = "Beam", blinking = "Off" }
thickness = 0.15                                     # Default 0.15

[window]
opacity = 0.90
blur = true
padding = { x = 5, y = 20 }
dynamic_padding = true
# decorations = "Full" | "None" | "Transparent" | "Buttonless"
# Full - Borders and title bar.
# None - Neither borders nor title bar.
# Transparent - Title bar, transparent background and title bar buttons. (macOS only)
# Buttonless - Title bar, transparent background and no title bar buttons. (macOS only)
# decorations = "Full"
decorations = "Full"
startup_mode = "Windowed"
dynamic_title = true
decorations_theme_variant = "Dark"
dimensions = { columns = 0, lines = 0 }
option_as_alt = "Both"
resize_increments = true                # prefer resizing window by discrete steps equal to cell dimensions.

[scrolling]
history = 10000
multiplier = 3

[mouse]
hide_when_typing = true

[[mouse.bindings]]
action = "PasteSelection"
mouse = "Right"


[selection]
semantic_escape_chars = ''',│`|:"' ()[]{}<>'''

[terminal.shell]
program = "/opt/homebrew/bin/fish"
# program = "/usr/local/bin/fish"
# program = "/bin/zsh"

[font]
# size = 15.0

[general]
live_config_reload = true
import = [
  "~/.config/alacritty/themes/tokyonight/tokyonight_moon.toml",
  "~/.config/alacritty/keyboard.toml",
  # "~/.config/alacritty/fonts/menlo-lgs.toml",
  # "~/.config/alacritty/fonts/iosevka.toml",
  # "~/.config/alacritty/fonts/commit-mono.toml",
  "~/.config/alacritty/fonts/maple-mono.toml",
  # "~/.config/alacritty/fonts/profontIIx.toml",
  # "~/.config/alacritty/fonts/monolisa.toml",
]


[[hints.enabled]]
# Each hint must have at least one of regex or hyperlinks and either an action or a command.
# action = "Copy" | "Paste" | "Select" | "MoveViModeCursor"
# command = "<string>" | { program = "<string>", args = ["<string>",] }
# Command which will be executed when the hint is clicked or selected with the binding. The hint's text is always attached as the last argument.
command = "open"
hyperlinks = true
# When this is `true`, heuristics will be used to shorten the match if there are characters likely not to be part of the hint (e.g. a trailing .). This is most useful for URIs and applies only to regex matches.
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "O", mods = "Control|Shift" }
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`\\\\]+"
