.DS_Store
tmp/**
*.bk
lazy-lock.jsoo  pppppppppppppppppppppppppppppp
sip qussssssssssssss                        sssssss
qqqqqqqqqqqqqissssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppjppppppppp9(alphaG fn
